DATABASE_URL="postgresql://postgres:postgres@localhost:5432/docket"
DATABASE_URL_TEST="postgresql://postgres:postgres@localhost:5433/docket_test"
SESSION_SECRET="replace-with-output-of-openssl-rand-base64-32"
