DATABASE_URL="postgresql://postgres:postgres@localhost:5432/elevatebox"
DATABASE_URL_TEST="postgresql://postgres:postgres@localhost:5432/elevatebox_test"
SESSION_SECRET="replace-with-output-of-openssl-rand-base64-32"
